.main_container {
	height: 100vh;
	background-image: url(../../images/home.jpg);
	background-size: cover;
	margin: 0;
    padding: 0;
    position: relative;

}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #202020;
    opacity: 0;
    position: absolute;
    transition: all 0.5s;

    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#welcome_title {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: white;
    margin: 0;
}

.overlay:hover {
    opacity: 0.8;
    cursor: pointer;
    padding-top: 150px;
}
